body {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}
header {
  display: block;
  padding-top: 2%;
  height: 100px;
  width: 100%;
  background-color: aliceblue;
  }
   }
  main {
    width: 100%;
    margin: 10% auto;
  }
  header li {
    display: inline;
    margin-right: 10%;
  }
  div.left {
    width: 45%;
    display: inline;
    float: left;
    margin-top: 10px;
  }
  div.right {
    width: 45%;
    display: inline;
    float: right;
  }

  img.logo {
    display: inline;
    float: left;
    margin-right: 1%;
  }
  h1 {
    display: inline;
    margin-left: 10%;
    animation-duration: 3s;
    animation-name: slidein;
    color: magenta;
     }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    color: #ffe000;
  }

  to {
    margin-left: 5%;
    width: 100%;
    color: magenta;
  }
}
#images {
  position: relative;
  width: 70%;
  margin: 5% auto;
  height: 300px;
}
#images img {
  border:5px solid grey;
  border-radius: 20%;
}
#images img:hover {
  border:5px solid yellow;
  filter: brightness(.98);
}
#images img:active {
  border:10px solid yellow;

}
#imageOne, #imageTwo, #imageThree {
  display: inline-block;
  width: 31%;
  float: left;
  margin: 1%;
  }
  #imageThree {
    margin-right: 0%;
  }
